* {
  box-sizing: border-box;
}

body {
  background-color: #f9fafb;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  margin: 0;
  flex-direction: row;
}

.container {
  width: 1000px;
}

.kanatable {
  display: flex;
  justify-content: space-evenly;
}

.hiragana {
  text-align: left;
  padding: 10px;
  max-width: 50%;
}

.katakana {
  text-align: left;
  padding: 10px;
  max-width: 50%;
}

input[type='checkbox']:hover {
  cursor: pointer;
  padding: 10px;
}

label:hover {
  cursor: pointer;
}

h2 {
  margin-bottom: -5px;
}

span {
  padding: 5px;
}

.link {
  text-align: center;
}

/* =========================== */

.home {
  display: flex;
}

.alphabet {
  flex: 1 1;
}

.alphabet .alphabet-title {
  font-weight: bold;
  margin: 12px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}